<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mageworx_greendelivery" frontName="mageworx_greendelivery">
            <module name="MageWorx_GreenDeliveryBase" before="Magento_Backend"/>
        </route>
    </router>
</config>
